body {
			
	        font-size: 25px;
		    color: #343d44;
			font-family: "segoe-ui", "open-sans", tahoma, arial;
			padding: 0;
			margin: 0;
			background-color: #c3c3ec;
			background-image: linear-gradient(to bottom, #f4eeff, #f0e9fd, #ebe5fc, #e7e0fa, #e2dcf9, #dcd7f6, #d6d1f4, #cfccf1, #c5c5ed, #bbbee9, #b1b8e5, #a6b1e1);
			background-repeat: no-repeat;
			min-height: 100vh;
			height: 100%;
		}
		table {
			margin: auto;
			font-family: "Lucida Sans Unicode", "Lucida Grande", "Segoe Ui";
			font-size: 12px;
		 
		}

		h1 {
			margin: 25px auto 0;
			text-align: center;
			text-transform: uppercase;
			font-size: 25px;
		}
		div {
			margin: 25px auto 0;
			text-align: center;
			text-transform: uppercase;
			font-size: 17px;
		}

		table td {
			transition: all .5s;
		}
		
		/* Table */
		.tabla_datos {
			border-collapse: collapse;
			font-size: 14px;
			min-width: 537px;
		}

		.tabla_datos th, 
		.tabla_datos td {
			border: 1px solid #e1edff;
			padding: 7px 17px;
		}
		.tabla_datos caption {
			margin: 7px;
		}

		/* Table Header */
		#titulo {
			background-color: #508abb;
			color: #FFFFFF;
			border-color: #6ea1cc !important;
			text-transform: uppercase;
		}

		/* Table Body */
		.tabla_datos tbody td {
			color: #353535;
		}
		.tabla_datos tbody td:first-child,
		.tabla_datos tbody td:nth-child(4),
		.tabla_datos tbody td:last-child {
			text-align: right;
		}

		.tabla_datos tbody tr:nth-child(odd) td {
			background-color: #f4fbff;
		}
		.tabla_datos tbody tr:hover td {
			background-color: #ffffa2;
			border-color: #ffff0f;
		}

		/* Table Footer */
		.tabla_datos tfoot th {
			background-color: #e5f5ff;
			text-align: right;
		}
		.tabla_datos tfoot th:first-child {
			text-align: left;
		}
		.tabla_datos tbody td:empty
		{
			background-color: #ffcccc;
		}
		.centrar
		{
		text-align:center;	
		}
		.tabla_menu
		{
				
				font-family: "Lucida Sans Unicode", "Lucida Grande", "Segoe Ui";
			    font-size: 18px;
				background: #2f2d2e;
			  
		}
		.tabla_fondo
		{
			
				background-color:white;
				border: black 1px solid;
				padding:25px;
			
		}
		.stream{
			font-size: 17px;
			text-transform: none;
			text-align: justify
		}
		.purple
		{
			background: #dc0073;
			border-color: #dc0073;	
		}
		.purple:hover{

			background: #b70462;

		}
		.h1-encabezado{
			font-size: 2rem;
		}